@font-face {
    font-family: generalFont;
    src: url("../fonts/TTOctosquares-Regular.ttf") format("truetype");
}

@font-face {
    font-family: boldGeneralFont;
    src: url("../fonts/TTOctosquares-DBold.ttf") format("truetype");
}
